/* Reset styles and defaults */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
}

*
{
    box-sizing: border-box;
}

input,
select
{
    outline: 0;
}

ul,
ol
{
    list-style: none;
}

button
{
    font: inherit;

    padding: 0;

    color: inherit;
    border: none;
    background: none;
}

/* Typography */

/* Colors */

/* grid metrics */

/* Helpers */

/* Breakpoints */

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;

    overflow-x: hidden;

    background: #eee;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.body
{
    position: relative;

    margin: 2rem 0;
}

.clear
{
    clear: both;
}

.text-center
{
    text-align: center;
}

.text-right
{
    text-align: right;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.mt-1
{
    margin-top: .9375rem;
}

.mb-1
{
    margin-bottom: .9375rem;
}

.mt-2
{
    margin-top: 1.875rem;
}

.mb-2
{
    margin-bottom: 1.875rem;
}

.mt-3
{
    margin-top: 2.8125rem;
}

.mb-3
{
    margin-bottom: 2.8125rem;
}

.mt-4
{
    margin-top: 3.75rem;
}

.mb-4
{
    margin-bottom: 3.75rem;
}

.nowrap
{
    white-space: nowrap;
}

.rel
{
    position: relative;
}

.container
{
    width: 1200px;
    margin: auto;
}

/* mixins */

.row,
.column
{
    display: -webkit-box;
    display: flex;

    margin: 0 -10px;

    flex-wrap: wrap;
}

.row
{
    flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.column
{
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.self-center
{
    align-self: center;
}

.self-start
{
    align-self: flex-start;
}

.self-end
{
    align-self: flex-end;
}

.col-x-1,
.col-xs-1,
.col-s-1,
.col-m-1,
.col-l-1,
.col-xl-1,
.col-x-2,
.col-xs-2,
.col-s-2,
.col-m-2,
.col-l-2,
.col-xl-2,
.col-x-3,
.col-xs-3,
.col-s-3,
.col-m-3,
.col-l-3,
.col-xl-3,
.col-x-4,
.col-xs-4,
.col-s-4,
.col-m-4,
.col-l-4,
.col-xl-4,
.col-x-5,
.col-xs-5,
.col-s-5,
.col-m-5,
.col-l-5,
.col-xl-5,
.col-x-6,
.col-xs-6,
.col-s-6,
.col-m-6,
.col-l-6,
.col-xl-6,
.col-x-7,
.col-xs-7,
.col-s-7,
.col-m-7,
.col-l-7,
.col-xl-7,
.col-x-8,
.col-xs-8,
.col-s-8,
.col-m-8,
.col-l-8,
.col-xl-8,
.col-x-9,
.col-xs-9,
.col-s-9,
.col-m-9,
.col-l-9,
.col-xl-9,
.col-x-10,
.col-xs-10,
.col-s-10,
.col-m-10,
.col-l-10,
.col-xl-10,
.col-x-11,
.col-xs-11,
.col-s-11,
.col-m-11,
.col-l-11,
.col-xl-11,
.col-x-12,
.col-xs-12,
.col-s-12,
.col-m-12,
.col-l-12,
.col-xl-12
{
    padding-right: 10px;
    padding-left: 10px;
}

.col-x-1
{
    width: 8.33333%;
}

.col-x-1-offset
{
    margin-left: 8.33333%;
}

.col-x-2
{
    width: 16.66667%;
}

.col-x-2-offset
{
    margin-left: 16.66667%;
}

.col-x-3
{
    width: 25%;
}

.col-x-3-offset
{
    margin-left: 25%;
}

.col-x-4
{
    width: 33.33333%;
}

.col-x-4-offset
{
    margin-left: 33.33333%;
}

.col-x-5
{
    width: 41.66667%;
}

.col-x-5-offset
{
    margin-left: 41.66667%;
}

.col-x-6
{
    width: 50%;
}

.col-x-6-offset
{
    margin-left: 50%;
}

.col-x-7
{
    width: 58.33333%;
}

.col-x-7-offset
{
    margin-left: 58.33333%;
}

.col-x-8
{
    width: 66.66667%;
}

.col-x-8-offset
{
    margin-left: 66.66667%;
}

.col-x-9
{
    width: 75%;
}

.col-x-9-offset
{
    margin-left: 75%;
}

.col-x-10
{
    width: 83.33333%;
}

.col-x-10-offset
{
    margin-left: 83.33333%;
}

.col-x-11
{
    width: 91.66667%;
}

.col-x-11-offset
{
    margin-left: 91.66667%;
}

.col-x-12
{
    width: 100%;
}

.col-x-12-offset
{
    margin-left: 100%;
}

.i
{
    display: inline-block;

    width: 1em;
    height: 1em;

    vertical-align: middle;

    fill: inherit;
    stroke: inherit;
}

.i-angle-down-solid
{
    font-size: 512px;

    width: .625em;
}

.i-caret-down-solid
{
    font-size: 512px;

    width: .625em;
}

img,
svg
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.list
{
    font-size: 1rem;

    max-width: 26.875em;
    margin: auto;
    margin-bottom: .625em;

    color: #8a8a8a;
}

.list__wrapper
{
    background-color: #fff;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, .15);
}

.list__header
{
    display: block;

    width: 100%;
    padding: .75em .75em 1.375em .75em;

    cursor: pointer;
    -webkit-transition: color .3s;
            transition: color .3s;
    text-align: left;

    color: inherit;
    outline: none;
}

.list__header:hover,
.list__header:focus
{
    color: #ef1313;
}

.list__header:hover .i-angle-down-solid,
.list__header:focus .i-angle-down-solid
{
    fill: #ef1313;
}

.list__header.--collapsed .i-angle-down-solid
{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.list_header-collapse
{
    margin-right: .4375em;
}

.list_header-collapse .i-angle-down-solid
{
    font-size: .875em;

    -webkit-transition: fill .3s, -webkit-transform .3s;
            transition: fill .3s, -webkit-transform .3s;
            transition: transform .3s, fill .3s;
            transition: transform .3s, fill .3s, -webkit-transform .3s;
    -webkit-transform-origin: center;
            transform-origin: center;
    vertical-align: baseline;
}

.list__header-summary
{
    float: right;
}

.list__docs
{
    position: relative;

    padding: 1em .75em;

    border-bottom: 1px solid #e8e8e8;
}

.list__docs:first-child
{
    padding-top: 0;
}

.list__docs-item
{
    font-size: .875em;
}

.list__docs-info
{
    padding-right: 2em;
    padding-left: 1.25em;
}

.list__docs-price
{
    float: right;
}

.list__products-btn
{
    display: block;

    width: 100%;
    padding: .75em 0 .75em 1.25em;

    cursor: pointer;
    -webkit-transition: color .3s;
            transition: color .3s;
    text-align: left;

    color: inherit;
    outline: none;
}

.list__products-btn:hover,
.list__products-btn:focus
{
    color: #ef1313;
}

.list__products-btn:hover .i-caret-down-solid,
.list__products-btn:focus .i-caret-down-solid
{
    fill: #ef1313;
}

.list__products-btn.--collapsed .i-caret-down-solid
{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.list__products-btn-icon
{
    margin-right: 5px;
}

.list__products-btn-icon .i-caret-down-solid
{
    font-size: .875em;

    -webkit-transition: fill .3s, -webkit-transform .3s;
            transition: fill .3s, -webkit-transform .3s;
            transition: transform .3s, fill .3s;
            transition: transform .3s, fill .3s, -webkit-transform .3s;
    -webkit-transform-origin: center;
            transform-origin: center;
}

.list__products-item
{
    font-size: 1.125em;

    margin-bottom: .44444em;
    padding-right: 2.66667em;
    padding-left: 1.77778em;

    color: #000;
}

.list__products-item:last-child
{
    margin-bottom: 0;
    padding-bottom: 1em;
}

.list__products-info
{
    font-weight: 500;

    display: inline-block;

    width: calc(100% - 3.44444em);
    padding-left: 1.11111em;

    vertical-align: top;
}

.list__products-name
{
    font-size: .875em;

    overflow: hidden;

    padding-bottom: .5em;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.list__products-img-wrapper
{
    display: inline-block;

    width: 3.11111em;
    height: 3.11111em;
}

.list__products-img
{
    font-size: .55556em;

    display: inline-block;
    overflow: hidden;

    width: 100%;
    height: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;

    -o-object-fit: contain;
       object-fit: contain;
}

.list__products-price
{
    float: right;
}

@media only screen and (min-width: 450px)
{
    .col-xs-1
    {
        width: 8.33333%;
    }

    .col-xs-1-offset
    {
        margin-left: 8.33333%;
    }

    .col-xs-2
    {
        width: 16.66667%;
    }

    .col-xs-2-offset
    {
        margin-left: 16.66667%;
    }

    .col-xs-3
    {
        width: 25%;
    }

    .col-xs-3-offset
    {
        margin-left: 25%;
    }

    .col-xs-4
    {
        width: 33.33333%;
    }

    .col-xs-4-offset
    {
        margin-left: 33.33333%;
    }

    .col-xs-5
    {
        width: 41.66667%;
    }

    .col-xs-5-offset
    {
        margin-left: 41.66667%;
    }

    .col-xs-6
    {
        width: 50%;
    }

    .col-xs-6-offset
    {
        margin-left: 50%;
    }

    .col-xs-7
    {
        width: 58.33333%;
    }

    .col-xs-7-offset
    {
        margin-left: 58.33333%;
    }

    .col-xs-8
    {
        width: 66.66667%;
    }

    .col-xs-8-offset
    {
        margin-left: 66.66667%;
    }

    .col-xs-9
    {
        width: 75%;
    }

    .col-xs-9-offset
    {
        margin-left: 75%;
    }

    .col-xs-10
    {
        width: 83.33333%;
    }

    .col-xs-10-offset
    {
        margin-left: 83.33333%;
    }

    .col-xs-11
    {
        width: 91.66667%;
    }

    .col-xs-11-offset
    {
        margin-left: 91.66667%;
    }

    .col-xs-12
    {
        width: 100%;
    }

    .col-xs-12-offset
    {
        margin-left: 100%;
    }

    .visible-x
    {
        display: none;
    }
}

@media only screen and (min-width: 450px) and (max-width: 767px)
{
    .hidden-xs
    {
        display: none;
    }
}

@media only screen and (min-width: 768px)
{
    .col-s-1
    {
        width: 8.33333%;
    }

    .col-s-1-offset
    {
        margin-left: 8.33333%;
    }

    .col-s-2
    {
        width: 16.66667%;
    }

    .col-s-2-offset
    {
        margin-left: 16.66667%;
    }

    .col-s-3
    {
        width: 25%;
    }

    .col-s-3-offset
    {
        margin-left: 25%;
    }

    .col-s-4
    {
        width: 33.33333%;
    }

    .col-s-4-offset
    {
        margin-left: 33.33333%;
    }

    .col-s-5
    {
        width: 41.66667%;
    }

    .col-s-5-offset
    {
        margin-left: 41.66667%;
    }

    .col-s-6
    {
        width: 50%;
    }

    .col-s-6-offset
    {
        margin-left: 50%;
    }

    .col-s-7
    {
        width: 58.33333%;
    }

    .col-s-7-offset
    {
        margin-left: 58.33333%;
    }

    .col-s-8
    {
        width: 66.66667%;
    }

    .col-s-8-offset
    {
        margin-left: 66.66667%;
    }

    .col-s-9
    {
        width: 75%;
    }

    .col-s-9-offset
    {
        margin-left: 75%;
    }

    .col-s-10
    {
        width: 83.33333%;
    }

    .col-s-10-offset
    {
        margin-left: 83.33333%;
    }

    .col-s-11
    {
        width: 91.66667%;
    }

    .col-s-11-offset
    {
        margin-left: 91.66667%;
    }

    .col-s-12
    {
        width: 100%;
    }

    .col-s-12-offset
    {
        margin-left: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px)
{
    .hidden-s
    {
        display: none;
    }
}

@media only screen and (min-width: 992px)
{
    .col-m-1
    {
        width: 8.33333%;
    }

    .col-m-1-offset
    {
        margin-left: 8.33333%;
    }

    .col-m-2
    {
        width: 16.66667%;
    }

    .col-m-2-offset
    {
        margin-left: 16.66667%;
    }

    .col-m-3
    {
        width: 25%;
    }

    .col-m-3-offset
    {
        margin-left: 25%;
    }

    .col-m-4
    {
        width: 33.33333%;
    }

    .col-m-4-offset
    {
        margin-left: 33.33333%;
    }

    .col-m-5
    {
        width: 41.66667%;
    }

    .col-m-5-offset
    {
        margin-left: 41.66667%;
    }

    .col-m-6
    {
        width: 50%;
    }

    .col-m-6-offset
    {
        margin-left: 50%;
    }

    .col-m-7
    {
        width: 58.33333%;
    }

    .col-m-7-offset
    {
        margin-left: 58.33333%;
    }

    .col-m-8
    {
        width: 66.66667%;
    }

    .col-m-8-offset
    {
        margin-left: 66.66667%;
    }

    .col-m-9
    {
        width: 75%;
    }

    .col-m-9-offset
    {
        margin-left: 75%;
    }

    .col-m-10
    {
        width: 83.33333%;
    }

    .col-m-10-offset
    {
        margin-left: 83.33333%;
    }

    .col-m-11
    {
        width: 91.66667%;
    }

    .col-m-11-offset
    {
        margin-left: 91.66667%;
    }

    .col-m-12
    {
        width: 100%;
    }

    .col-m-12-offset
    {
        margin-left: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1365px)
{
    .hidden-m
    {
        display: none;
    }
}

@media only screen and (min-width: 1366px)
{
    .col-l-1
    {
        width: 8.33333%;
    }

    .col-l-1-offset
    {
        margin-left: 8.33333%;
    }

    .col-l-2
    {
        width: 16.66667%;
    }

    .col-l-2-offset
    {
        margin-left: 16.66667%;
    }

    .col-l-3
    {
        width: 25%;
    }

    .col-l-3-offset
    {
        margin-left: 25%;
    }

    .col-l-4
    {
        width: 33.33333%;
    }

    .col-l-4-offset
    {
        margin-left: 33.33333%;
    }

    .col-l-5
    {
        width: 41.66667%;
    }

    .col-l-5-offset
    {
        margin-left: 41.66667%;
    }

    .col-l-6
    {
        width: 50%;
    }

    .col-l-6-offset
    {
        margin-left: 50%;
    }

    .col-l-7
    {
        width: 58.33333%;
    }

    .col-l-7-offset
    {
        margin-left: 58.33333%;
    }

    .col-l-8
    {
        width: 66.66667%;
    }

    .col-l-8-offset
    {
        margin-left: 66.66667%;
    }

    .col-l-9
    {
        width: 75%;
    }

    .col-l-9-offset
    {
        margin-left: 75%;
    }

    .col-l-10
    {
        width: 83.33333%;
    }

    .col-l-10-offset
    {
        margin-left: 83.33333%;
    }

    .col-l-11
    {
        width: 91.66667%;
    }

    .col-l-11-offset
    {
        margin-left: 91.66667%;
    }

    .col-l-12
    {
        width: 100%;
    }

    .col-l-12-offset
    {
        margin-left: 100%;
    }

    .hidden-l
    {
        display: none;
    }
}

@media only screen and (min-width: 1800px)
{
    .col-xl-1
    {
        width: 8.33333%;
    }

    .col-xl-1-offset
    {
        margin-left: 8.33333%;
    }

    .col-xl-2
    {
        width: 16.66667%;
    }

    .col-xl-2-offset
    {
        margin-left: 16.66667%;
    }

    .col-xl-3
    {
        width: 25%;
    }

    .col-xl-3-offset
    {
        margin-left: 25%;
    }

    .col-xl-4
    {
        width: 33.33333%;
    }

    .col-xl-4-offset
    {
        margin-left: 33.33333%;
    }

    .col-xl-5
    {
        width: 41.66667%;
    }

    .col-xl-5-offset
    {
        margin-left: 41.66667%;
    }

    .col-xl-6
    {
        width: 50%;
    }

    .col-xl-6-offset
    {
        margin-left: 50%;
    }

    .col-xl-7
    {
        width: 58.33333%;
    }

    .col-xl-7-offset
    {
        margin-left: 58.33333%;
    }

    .col-xl-8
    {
        width: 66.66667%;
    }

    .col-xl-8-offset
    {
        margin-left: 66.66667%;
    }

    .col-xl-9
    {
        width: 75%;
    }

    .col-xl-9-offset
    {
        margin-left: 75%;
    }

    .col-xl-10
    {
        width: 83.33333%;
    }

    .col-xl-10-offset
    {
        margin-left: 83.33333%;
    }

    .col-xl-11
    {
        width: 91.66667%;
    }

    .col-xl-11-offset
    {
        margin-left: 91.66667%;
    }

    .col-xl-12
    {
        width: 100%;
    }

    .col-xl-12-offset
    {
        margin-left: 100%;
    }
}

@media only screen and (max-width: 1365px)
{
    .container
    {
        width: auto;
        padding: 0 .5rem;
    }

    .body
    {
        position: relative;

        margin: .5rem 0;
    }
}

@media only screen and (max-width: 449px)
{
    .hidden-x
    {
        display: none;
    }

    .list
    {
        font-size: .875rem;
    }

    .list__products-item
    {
        margin-bottom: 1em;
    }

    .list__products-info
    {
        padding-left: 2em;
    }

    .list__products-quantity
    {
        font-size: .875em;
    }

    .list__products-price
    {
        font-size: 1.28571em;

        display: block;
        float: none;

        margin-top: .5em;
    }
}
