.i {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: inherit;
  stroke: inherit;
  vertical-align: middle;
}

    .i-angle-down-solid {
      font-size:512px;
      width:(320/512)+em;
    }

    .i-caret-down-solid {
      font-size:512px;
      width:(320/512)+em;
    }
